.dashboard {
  background-color: #068b0033;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.dashboard .div-3 {
  background-color: #068b0033;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.dashboard .temperature-2 {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px #00000033;
  height: 230px;
  left: 633px;
  overflow: hidden;
  position: absolute;
  top: 215px;
  width: 186px;
}

.dashboard .text-wrapper-31 {
  color: #212121;
  font-family: 'Inter', Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 101px;
}

.dashboard .text-wrapper-32 {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 23px;
  font-weight: 700;
  left: 124px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  width: 60px;
}

.dashboard .text-wrapper-33 {
  color: #212121;
  font-family: 'Inter', Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: -7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 23px;
  width: 100px;
}

.dashboard .humidity {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px #00000033;
  height: 230px;
  left: 833px;
  overflow: hidden;
  position: absolute;
  top: 215px;
  width: 186px;
}

.dashboard .co {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px #00000033;
  height: 230px;
  left: 1033px;
  overflow: hidden;
  position: absolute;
  top: 215px;
  width: 186px;
}

.dashboard .topic {
  color: #212121;
  font-family: 'Inter', Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 100px;
}

.dashboard .unit {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 23px;
  font-weight: 700;
  left: 126px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  width: 60px;
}

.dashboard .insolation {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 10px #00000033;
  height: 230px;
  left: 1233px;
  overflow: hidden;
  position: absolute;
  top: 215px;
  width: 193px;
}

.dashboard .insolation-unit {
  color: #000000;
  font-family: 'Inter', Helvetica;
  font-size: 23px;
  font-weight: 700;
  left: 89px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 190px;
  width: 108px;
}

.dashboard .insolation-topic {
  color: #212121;
  font-family: 'Inter', Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: 7px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 100px;
}

.dashboard .insolation-data {
  color: #212121;
  font-family: 'Inter', Helvetica;
  font-size: 50px;
  font-weight: 700;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 87px;
  width: 143px;
}

.dashboard .overlap-19 {
  height: 70px;
  left: -1px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dashboard .top-navigation {
  background-color: #006639;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #9e8f8f4c;
  height: 70px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.dashboard .lucide-bell {
  height: 30px;
  left: 1366px;
  position: absolute;
  top: 22px;
  width: 30px;
}

.dashboard .smart-farm-ASAP-2 {
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 209px;
}

.dashboard .notification-alarm {
  left: 1379px !important;
  position: absolute !important;
  top: 17px !important;
}

.dashboard .logo {
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 15px;
  width: 215px;
}

.dashboard .text-wrapper-34 {
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

.dashboard .text-wrapper-35 {
  font-size: 32px;
}
