.sidebar{
  width: 229px;
  background: #ffffff;
  position:relative;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
  transition: width 0.3s;
}
.sidebar--dashboard{
  height: 150vh !important;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 160px;
  }
  ul li a {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    z-index: 1000;
    padding: 0;
    transition: width 0.3s;
  }
  ul li {
    height: 60px;
  }
  ul li a {
    font-size: 0;
    justify-content: center;
    padding: 0;
  }
  .logoutbutton {
    margin-bottom: 16px;
  }
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style-type: none;
  margin: 0;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #B9B9B9;
}

ul li:last-child {
  border-bottom: 1px solid #B9B9B9;
}

ul li a{
  color: #212121;
  text-decoration: none;
  font-size: 28px;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
}

ul li a:hover,
ul li a.active{
  background:#f5f5f5;
}

.clock-container {
  border-bottom: 1px solid #B9B9B9;
  height: auto ;
  padding: 8px 0;

}

.clock-wrapper {
  padding: 2px 0 ;
  top: -55px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #B9B9B9;
  box-sizing: border-box;
  
}

.logoutbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50px;
  margin-left: 24px;
  margin-bottom: 32px;
  cursor: pointer;
}

.logoutbutton:hover,
.logoutbutton:active{
  background: #ffffff;
}

