.soil {
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 246px;
  overflow: hidden;
  padding: 0px 25px;
  position: absolute;
  top: 276px;
  width: 370px;
}

.soil .soil-topic {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.soil .text-wrapper {
  color: #212121;
  flex: 1;
  font-family: "Inter", Helvetica;
  font-size: 26px;
  font-weight: 600;
  height: 59px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.soil .soil-data-chart-instance {
  align-self: stretch !important;
  height: 261.5px !important;
  margin-top: -15px !important;
  width: 100% !important;
}

.soil .temperature {
  color: #212121;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 87px;
}

.soil .water {
  color: #212121;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  left: 217px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 58px;
  width: 87px;
}

.soil .EC-label {
  color: #212121;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  left: 218px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 180px;
  width: 87px;
}

.soil .ph-label {
  color: #212121;
  font-family: "Inter", Helvetica;
  font-size: 23px;
  font-weight: 600;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 179px;
  width: 87px;
}
