.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 10px;
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.signup-form label {
  font-weight: bold;
  font-size: 14px;
}

.signup-form input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-button {
  text-align: center;
  padding: 12px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
}
