body{
  background-color: #068b0033;
  background-attachment: fixed;
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
}

.layout-row {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 80px);
}


