body{
  background-color: #068b0033;
  background-attachment: fixed;
  margin:0;
  padding:0;
  height: 100%;
  overflow:hidden;
}

.layout-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 80px);
  overflow:hidden;
}

.main-content {
  flex-grow: 1; 
  height: 100%;
  overflow-y: auto; 
  padding: 0;
  box-sizing: border-box;
}


